In [1]:
# Import the dependencies.

import collections

collections.Iterable = collections.abc.Iterable

import pandas as pd

import gmaps

import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame using Pandas.

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tupik,RU,2022-11-09 01:51:39,54.4253,119.9327,18.99,72,3,6.15
1,1,Kolokani,ML,2022-11-09 01:51:39,13.5728,-8.0339,71.80,18,12,6.46
2,2,Nanortalik,GL,2022-11-09 01:51:39,60.1432,-45.2371,28.87,71,61,7.85
3,3,Krasnyy Luch,UA,2022-11-09 01:51:40,48.1395,38.9371,36.86,90,100,2.57
4,4,Touros,BR,2022-11-09 01:51:40,-5.1989,-35.4608,77.97,80,51,11.18

In [3]:
# data columns must be either integers or floating-point decimal numbers. Determine data types within the new data frame

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
%matplotlib inline

# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Touros,BR,2022-11-09 01:51:40,-5.1989,-35.4608,77.97,80,51,11.18
5,5,Hobart,AU,2022-11-09 01:45:26,-42.8794,147.3294,80.22,57,20,11.50
6,6,Road Town,VG,2022-11-09 01:40:55,18.4167,-64.6167,82.49,94,40,8.05
13,13,Rikitea,PF,2022-11-09 01:42:58,-23.1203,-134.9692,75.78,87,100,13.56
15,15,Porto Novo,BJ,2022-11-09 01:51:42,6.4965,2.6036,82.22,83,12,5.73
23,23,New Norfolk,AU,2022-11-09 01:42:55,-42.7826,147.0587,79.88,37,99,1.99
24,24,Hilo,US,2022-11-09 01:45:37,19.7297,-155.0900,78.53,81,75,6.91
26,26,Atuona,PF,2022-11-09 01:42:56,-9.8000,-139.0333,77.23,72,6,14.97
31,31,Cayenne,GF,2022-11-09 01:50:28,4.9333,-52.3333,75.24,94,100,0.00
35,35,Butaritari,KI,2022-11-09 01:51:46,3.0707,172.7902,81.05,77,24,10.40

In [12]:
preferred_cities_df.count()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
4        Touros      BR     77.97  -5.1989  -35.4608
5        Hobart      AU     80.22 -42.8794  147.3294
6     Road Town      VG     82.49  18.4167  -64.6167
13      Rikitea      PF     75.78 -23.1203 -134.9692
15   Porto Novo      BJ     82.22   6.4965    2.6036
23  New Norfolk      AU     79.88 -42.7826  147.0587
24         Hilo      US     78.53  19.7297 -155.0900
26       Atuona      PF     77.23  -9.8000 -139.0333
31      Cayenne      GF     75.24   4.9333  -52.3333
35   Butaritari      KI     81.05   3.0707  172.7902

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
   
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Touros,BR,77.97,-5.1989,-35.4608,INN NEW HORIZON
5,Hobart,AU,80.22,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
6,Road Town,VG,82.49,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
13,Rikitea,PF,75.78,-23.1203,-134.9692,People ThankYou
15,Porto Novo,BJ,82.22,6.4965,2.6036,Tour Eiffel Hotel Benin
23,New Norfolk,AU,79.88,-42.7826,147.0587,The Shingles Riverside Cottages
24,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Atuona,PF,77.23,-9.8000,-139.0333,Villa Enata
31,Cayenne,GF,75.24,4.9333,-52.3333,Hôtel Le Dronmi
35,Butaritari,KI,81.05,3.0707,172.7902,Isles Sunset Lodge

In [16]:


# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))