# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [48]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy

# Import API key
from config import g_key

In [49]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [50]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = ("../Vacation_Search/WeatherPy_vacation.csv")

vacation_df = vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Dingle,PH,76.08,broken clouds,10.9995,122.6711,SEGAYA PROPERTY
1,4,Sao Filipe,CV,78.78,broken clouds,14.8961,-24.4956,Hotel Xaguate
2,9,Jibuti,DJ,75.22,scattered clouds,11.5000,42.5000,Orchid Main Camp Goubet
3,20,Batticaloa,LK,77.14,moderate rain,7.7102,81.6924,Treatooo Hotel
4,21,Itacare,BR,82.56,scattered clouds,-14.2775,-38.9967,Ecoporan Hotel Charme Spa & Eventos
5,23,Piacabucu,BR,83.59,clear sky,-10.4056,-36.4344,Piaçabuçu News
6,24,Kudahuvadhoo,MV,80.20,light rain,2.6708,72.8944,Niyama Private Islands Maldives
7,26,Micheweni,TZ,78.80,broken clouds,-4.9667,39.8333,NaN
8,28,Bandarbeyla,SO,80.28,scattered clouds,9.4942,50.8122,JABIR HOTEL
9,29,Hithadhoo,MV,82.04,broken clouds,-0.6000,73.0833,Scoop Guest House

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [51]:
# Review the formatting template
info_box_template = """

Hotel Name
        {Hotel Name}

City
{City}
Country
{Country}
Current Weather
        {Current Description} and {Max Temp} °F


"""
# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [52]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [56]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start =vacation_df.loc[vacation_df["City"]=="Ihiala"]
vacation_end =vacation_df.loc[vacation_df["City"]=="Ihiala"]
vacation_stop1 =vacation_df.loc[vacation_df["City"]=="Warri"]
vacation_stop2 =vacation_df.loc[vacation_df["City"]=="Yenagoa"]
vacation_stop3 =vacation_df.loc[vacation_df["City"]=="Ikot Ekpene"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [57]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [62]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [59]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,400,Ihiala,NG,83.50,broken clouds,5.8538,6.8603,Tony King Suites Limited
1,309,Warri,NG,80.47,light rain,5.5167,5.7500,GT Guesthouse
2,325,Yenagoa,NG,79.21,moderate rain,4.9247,6.2642,Aridolf Resort Wellness and Spa
3,661,Ikot Ekpene,NG,79.48,light rain,5.1794,7.7108,Four Points by Sheraton Ikot Ekpene

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [60]:
# Review the formatting template
info_box_template = """

Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Current Weather
{Current Description} and {Max Temp} °F


"""
# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [63]:
# Add a marker layer for each city to the map.
marker_layer = marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))